h1, p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
}

p {
    text-align: center;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea { 
    display: center;
    display: block;
    background-color: beige;
}

button {
    background-color: salmon;
    display: block;
    margin-left: 500px;
}

.survey {
    background: rgb(89,123,89);
    margin: 100px;
    border: 10px;
    width: 90%;
    display: center;
}

.radio {
    display: inline;
}

.advice {
    width: 60%;
}

input[type="submit"] {
    display: block;
    width: 40%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: beige;
    border-color: black;
}